$desktop-max: 1800px;
$desktop: 976px;
$tablet: 700px;

$mobile-height-sm: 700px;

$white: #fff;
$cyber-white: #e6edfa;
$cyber-blue: #1058d5;

@font-face {
	font-family: 'Space Grotesk';
	src: local('Space Grotesk'), url('/fonts/SpaceGrotesk.ttf');
}

@keyframes draw {
	0% {
		fill: transparent;
	}
	50% {
		fill: rgb(255, 255, 255, 0.5);
	}
	75% {
		fill: rgb(255, 255, 255, 0.8);
	}
	100% {
		fill: $white;
		stroke-dashoffset: 0;
		stroke: none;
	}
}
